<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"></meta>
<title>Insert title here</title>
</head>
<body>
	<form th:action="@{/updateUser}" th:object="${user}" method="post">
	Id: <span th:text="${user.id}"></span><br/>
	<input type="hidden" th:field="*{id}"/>
	First name: <input type="text" th:field="*{firstName}"/><br/>
	Last name: <input type="text" th:field="*{lastName}"/><br/>
	Username: <input type="text" th:field="*{userName}"/><br/>
	<input type="submit" value="Save"/>
	<input type="button" value="Cancel" onclick="location.href='/users'"/>
</form>
</body>
</html>